<div class="outer-container">
  <div style="display: flex; justify-content: space-around">
    <p style="color: rgb(255, 255, 255); margin: 0px">♾️ The Infinite Story</p>
    <p style="color: rgb(188, 188, 188); margin: 0px">
      Refresh browser for a new story
    </p>
  </div>

  <div class="pending-container" *ngIf="!chapter">
    <button
      (click)="generate()"
      [disabled]="loading"
      *ngIf="!chapter && !loading"
    >
      <span style="display: flex; align-items: center"
        ><img
          src="../assets/magic-wand.png"
          width="25"
          height="25"
          style="margin-right: 10px" /></span
      >{{ "Generate Story" }}
    </button>

    <loader [loading]="loading"></loader>
  </div>

  <div class="centered-container" *ngIf="chapter">
    <p id="chapter">Chapter {{ currentChapter }}</p>
    <p id="title">{{ title }}</p>
    <div id="genre" *ngIf="genre">{{ genre }}</div>

    <div class="image-overlay-container">
      <img class="story-image" *ngIf="image" [src]="image" />
      <ng-lottie class="lottie-animation" [options]="options"></ng-lottie>
    </div>

    <p id="content" *ngIf="chapter?.content">{{ chapter.content }}</p>

    <div
      style="
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 40px;
      "
    >
      <div style="width: 50%">
        <p id="chapter">Option A</p>
        <p id="content" style="margin-top: 0px">{{ chapter.optionA }}</p>
      </div>

      <div style="width: 50%">
        <p id="chapter">Option B</p>
        <p id="content" style="margin-top: 0px">{{ chapter.optionB }}</p>
      </div>
    </div>

    <div
      style="
        display: flex;
        height: 55px;
        width: 100%;
        justify-content: space-evenly;
      "
    >
      <button
        (click)="selectOption(0)"
        [disabled]="loading"
        *ngIf="nextOptionAChapter && nextOptionBChapter && !isPlaying"
      >
        Option A
      </button>
      <button
        (click)="selectOption(1)"
        [disabled]="loading"
        *ngIf="nextOptionAChapter && nextOptionBChapter && !isPlaying"
      >
        Option B
      </button>
    </div>
  </div>
</div>
